body {
    background: #fff;
    font-family: 'Motiva Sans';
    font-size: .8rem;

    @media (--screen-sm) {
        font-size: 1rem;
    }

    @media (--screen-md) {
        font-size: 1.1rem;
    }

    @media (--screen-lg) {
        font-size: 1.2rem;
    }
}
