.container {
    margin: 0 auto;
    padding: 0 40px;
    width: 100%;
    max-width: var(--container-sm);

    @media (--screen-md) {
        max-width: var(--container-md);
    }

    @media (--screen-lg) {
        max-width: var(--container-lg);
    }

    @media (--screen-xl) {
        max-width: var(--container-xl);
    }
}
