---
layout: default.hbs
title: Page not found
---

<article class="section error-message">
    <h1 class="error-message-code">404</h1>
    
    <div class="error-message-detail">
        <h2 class="error-message-title">{{ title }}</h2>
        <p class="lead-paragraph">Nothing to see here! Try the <a href="/">homepage</a>.</p>
    </div>
</article>
