---
layout: default.hbs
title: Alex Hunt – Web developer, student & occassional writer
---

<h1>
    <picture>
        <source srcset="/assets/img/profile-small.webp" type="image/webp">
        <img class="icon profile-img" src="/assets/img/profile-small.jpg" alt="Profile image">
    </picture>
    <span>Alex Hunt</span>
</h1>

<p>London-based web developer. Currently building cool stuff in Laravel at <a href="https://digital-detox.co.uk">Digital Detox</a>. I love web technologies, climbing and snowboarding. Follow me on <a href="{{data.links.twitter}}">Twitter</a>, see what I write on <a href="{{data.links.medium}}">Medium</a> or view my open source projects on&nbsp;<a href="{{data.links.github}}">GitHub</a>.</p>
