---
layout: default.hbs
title: Alex Hunt – Web developer, student & occassional writer
---

<article class="section bio">
    <p class="lead-paragraph">London-based web developer. Currently building cool stuff at <a href="https://digital-detox.co.uk">Digital Detox</a>. Avid climber and snowboarder. Follow me on <a href="{{data.links.twitter}}">Twitter</a> or view my open source projects on&nbsp;<a href="{{data.links.github}}">GitHub</a>.</p>
</article>

<section class="section-lg card-listing">
    <div class="card-listing-items">
        <article class="card">
            <h1 class="heading heading-primary card-heading">laravel-simple-jsonapi</h1>
            <p>Simpler JSON API support for Laravel</p>
            <a class="block-link" href="https://github.com/huntie/laravel-simple-jsonapi"></a>
        </article>
        <article class="card">
            <h1 class="heading heading-primary card-heading">super-awesome-paste</h1>
            <p>Intelligent paste handling for Sublime</p>
            <a class="block-link" href="https://github.com/huntie/super-awesome-paste"></a>
        </article>
        <article class="card">
            <h1 class="heading heading-primary card-heading">minecraft-status-notifier</h1>
            <p>Simple status notifier utility for Minecraft server on Supervisord</p>
            <a class="block-link" href="https://github.com/huntie/minecraft-status-notifier"></a>
        </article>
    </div>
    <footer class="card-listing-footer">
        <a class="card-listing-source-link" href="{{data.links.github}}">
            <img class="icon icon-inline card-listing-source-icon" src="/assets/img/icon-github.svg">
            <span class="card-listing-source-label">View all projects on GitHub</span>
        </a>
    </footer>
</section>

{{> external-links}}
