---
layout: default.hbs
title: Alex Hunt – Web developer, student & occassional writer
---

<article class="section bio">
    <p class="lead-paragraph">London-based web developer. Currently building cool stuff at <a href="https://digital-detox.co.uk">Digital Detox</a>. Avid climber and snowboarder. Follow me on <a href="{{data.links.twitter}}">Twitter</a> or view my open source projects on&nbsp;<a href="{{data.links.github}}">GitHub</a>.</p>
</article>

{{> external-links}}
