<aside class="section">
    <h2 class="heading heading-secondary">Elsewhere</h2>
    <nav class="ext-link-nav">
        <span class="ext-link-nav-item"><a href="{{data.links.instagram}}">Instagram</a></span>
        <span class="ext-link-nav-item"><a href="{{data.links.linkedin}}">LinkedIn</a></span>
        <span class="ext-link-nav-item"><a href="{{data.links.keybase}}">Keybase</a></span>
        <span class="ext-link-nav-item"><a href="{{data.links.reddit}}">Reddit</a></span>
    </nav>
</aside>
