<header class="section header">
    <picture>
        <source srcset="/assets/img/profile-small.webp" type="image/webp">
        <img class="icon header-profile-img" src="/assets/img/profile-small.jpg" alt="Profile image" itemprop="image">
    </picture>
    <h1 class="header-title" itemprop="name">Alex Hunt</h1>
</header>
